@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

* {
    text-align: center;
    font-family: 'Zen Kurenaido', sans-serif;
    margin: 0;
}

header {
    background-color: rgba(236, 110, 105, 0.932);
    padding: 20px;
    color: rgb(192, 45, 45);
}

main {
    padding: 20px;
    color: rgb(124, 23, 23);
    font-size: 20px;
}

#container {
    display: flex;
    flex-direction: column;
}

.fotos {
    width: 100%;
    padding: 20px 0px;
}

.perfil {
    width: 300px;
    border-radius: 50%;
}

p {
    padding: 0px 20px;
    font-size: 24px;
}

@media (min-width: 1024px) {
    
    #container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .fotos {
        width: 350px;
        height: 350px;
        object-fit: cover;
        padding: 20px;
    }

    p {
        padding: 0px 200px;
        font-size: 24px;
    }
    
}